<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>391952340770-8p96vifrnrok261h23bm1mvq84k79r3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391952340770-8p96vifrnrok261h23bm1mvq84k79r3o</string>
	<key>API_KEY</key>
	<string>AIzaSyDoGk2zQ3prwrV3YuAgcc9PV3zonR0DAA4</string>
	<key>GCM_SENDER_ID</key>
	<string>391952340770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mesrop.kareyan.FbbApp</string>
	<key>PROJECT_ID</key>
	<string>fbbappgoldedition</string>
	<key>STORAGE_BUCKET</key>
	<string>fbbappgoldedition.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391952340770:ios:a0457267ba3a314f</string>
	<key>DATABASE_URL</key>
	<string>https://fbbappgoldedition.firebaseio.com</string>
</dict>
</plist>